@using Book_Dal

@model Book




@{
    ViewData["Title"] = "Delete Book";
}

<h1>Delete Book</h1>

<h3>Are you sure you want to delete the book "@Model.Title"?</h3>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
</form>
